<div class="container" ng-if="CFour.playing">

    <div class="main">
        <div class="row" ng-repeat="row in CFour.board">
            <div class="circle" ng-repeat="token in row track by $index" ng-click="CFour.play($parent.$index, $index)">{{token.value}}</div>
        </div>

    </div>
    <div class="panel">
        <div class="turn">
            <h1>PLAYER 1's TURN</h1></div>
        <div class="score-board">
            <div class="player">
                <div class="row">
                    <div class="circle player-icon"></div>
                </div>
                <div class="player-score">25</div>
            </div>
            <div class="player">
                <div class="row">
                    <div class="circle player-icon"></div>
                </div>
                <div class="player-score">23</div>
            </div>
        </div>
        <div class="restart"></div>
    </div>
</div>

<div class="new-game" ng-if="!CFour.playing">
    <h1>CONNECT FOUR GAME</h1>
    <div>
        <div class="btn" ng-click="CFour.startGame()">Start</div>
    </div>
    <div ng-if="CFour.showPlayerPaths">
        <div class="link-player">
            <a target="_blank" href="#{{CFour.player.one.path}}"><h2>Player 1</h2></a>
        </div>
        <div class="link-player">
            <a target="_blank" href="#{{CFour.player.two.path}}"><h2>Player 2</h2></a>
        </div>
    </div>
</div>
